.docs {
	&__papers {
		margin: 92px 0 198px 0 !important;
		@include media-max(767) {
			margin: 50px 0 80px!important;
		}
	}
	&__operation {
		margin: 0 auto;
		max-width: 1095px;
		@include media-max(1399) {
			transform: translate(8px, 0px);
		}
		.slick-slide {
			&:not(:last-of-type) {
				@include media-max(1399) {
					padding-right: 10px;
				}
			}
		}
		img {
			max-width: 540px;
			width: 100%;
		}
	}
}