.info {
	&__name {
		margin-top: 110px;
		font-weight: 500;
		font-size: 36px;
		line-height: 105%;
		text-align: center;
		text-transform: uppercase;
		color: #565656;
		@include media-max(991) {
			font-size: 30px;
			margin-top: 65px;
			font-weight: 700;
		}
		@include media-max(575) {
			font-size: 20px;
		}
	}
	&__row {
		@include media-max(1199) {
			flex-direction: column-reverse;
		}
	}
	&__slider-wrapper {}
	&__slider {
		margin: 0 auto;
		cursor: pointer;
		max-width: 540px;
		width: 100%;
		img {
			object-fit: cover;
		}
	}
	h2 {
		margin-bottom: 40px;
		@include media-max(575) {
			margin-bottom: 42px;
		}
	}
}