.thanks {
	background: linear-gradient(170.21deg, #F4F4F4 27.76%, rgba(235, 235, 235, 0) 80.05%);
	margin: 160px 0 0 0;
	padding: 100px 0 100px;
	@include media-max(767) {
		padding: 50px 0 50px;
		margin: 103px 0 0 0;
	}
	&__row {
		@include media-max(991) {
			flex-direction: column-reverse;
		}
	}
	&__photo {
		text-align: center;
		img {
			object-fit: cover;
			max-width: 540px;
			@include media-max(1399) {
				width: 100%;
			}
		}
	}
	&__text {
		p {
			font-weight: 500;
			font-size: 48px;
			line-height: 150%;
			text-transform: uppercase;
			color: #484141;
			@include media-max(1199) {
				font-size: 36px;
			}
			@include media-max(767) {
				font-size: 20px;
			}
		}
		@include media-max(991) {
			text-align: center;
			margin-bottom: 20px;
		}
	}
}